# Copie ce fichier en .env et remplis avec tes valeurs Supabase
# Va sur supabase.com > ton projet > Settings > API

VITE_SUPABASE_URL=https://ieoxrsvyerontfwbvkki.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_qxd0PqeD8EMDRSyNWZKJmQ_WWH_NflH